# Node.js
node_modules/

# NestJS build output
dist/

# Environment variables
.env

# Logs
logs/

# Editor and IDE files
.vscode/
.idea/

# Dependency lock files
yarn.lock
package-lock.json

# Testing and coverage reports
coverage/

# Compiled JavaScript files


# Miscellaneous
.DS_Store